<?xml version="1.0" encoding="UTF-8"?><?eclipse version="3.0"?><!--
--><plugin>
  <extension id="org.eclipse.viatra.query.localsearch.cpp.example.query.Cps" point="org.eclipse.viatra.query.runtime.queryspecification">
    <group group="org.eclipse.viatra.query.runtime.extensibility.SingletonExtensionFactory:org.eclipse.viatra.query.localsearch.cpp.example.query.Cps" id="org.eclipse.viatra.query.localsearch.cpp.example.query.Cps">
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.applicationInstances"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.hostInstances"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.appInstanceType"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.applicationName"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.applicationRequirements"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.communicatingTypes"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.usefulApplicationTypes"/>
      <query-specification fqn="org.eclipse.viatra.query.localsearch.cpp.example.query.uselessApplicationTypes"/>
    </group>
  </extension>
</plugin>
