<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="com.incquerylabs.xtumlrt.gen.ui.menu"
               label="xtUmlrt Generator">
            <command
                  commandId="com.incquerylabs.xtumlrt.gen.ui.generate"
                  id="com.incquerylabs.xtumlrt.gen.ui.menu.generate"
                  label="Generate c++ files"
                  style="push">
               <visibleWhen>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <reference
                              definitionId="com.incquerylabs.xtumlrt.gen.ui.testExtension">
                        </reference>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.incquerylabs.xtumlrt.gen.ui.GenerateCommand"
            id="com.incquerylabs.xtumlrt.gen.ui.generate"
            name="Generate">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.incquerylabs.xtumlrt.gen.ui.testExtension">
         <adapt
               type="org.eclipse.core.resources.IResource">
            <test
                  property="org.eclipse.core.resources.extension"
                  value="ecore">
            </test>
         </adapt>
      </definition>
   </extension>

</plugin>
